body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
  --grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}